/**
* @name TestTheme
* @author Pop
* @version 1.2.9
* @authorLink github.com/iGetUploaded/BDTEST#author
* @source https://github.com/iGetUploaded/BDTEST
*/



/****GOOGLE/BD FONTS****/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Fonts/DiscordFont.css');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128&family=Libre+Barcode+128+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

/*chillax squad font and colour change*/
[href='https\:\/\/github.com/iGetUploaded/BDTEST#author']{
  font-family: 'Libre Barcode 128 Text';
  color:rgb(255, 161, 161)!important;
  font-weight: 400;
  font-size: 25px;
}
[href='https\:\/\/github.com/iGetUploaded/BDTEST#author']:hover{
  font-family: 'Libre Barcode 128';
  color:rgb(255, 161, 161)!important;
  font-weight: 400;
  font-size: 25px;
}
/*custom group font*/
.input-1nrc5P {
  overflow: visible!important;
  font-family: "Monoton"!important;
  font-weight: 400;
  font-size: 25px;
  letter-spacing: 0.2px;
}
font-size: 14px;
font-weight: 100;

font-size: 12px;
font-family: "Poiret one"!important;
